<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Frood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB42F7C81C65950200018BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB42F7DE1C65950300018BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB42F7E91C65950300018BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
